<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image"></div>


        <!-- The content half -->
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">

                <!-- Demo content-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <h3 class="display-4 text-center ">Ecole!</h3><br>
                            
                            <form #formlogin="ngForm" >
                                <div class="form-group mb-3">
                                    <input  type="text" placeholder="User name"  name="username"   class="form-control rounded-pill border-0 shadow-sm px-4"#username="ngModel" [(ngModel)]="UserName">
                                </div>
                                <div class="form-group mb-3">
                                    <input  type="password" placeholder="Password"  name="password" #password="ngModel" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary" [(ngModel)]="PassWord">
                                </div>
                                <br>
                                <button type="submit"  class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm" (click)="click_register(UserName,PassWord)">Sign in</button>
                                
                            </form>
                            <br>
                                <p *ngIf="login" class="alert alert-danger">
                                    authentification failed
                                    </p>
                        </div>
                    </div>
                </div><!-- End -->

            </div>
        </div><!-- End -->

    </div>
</div>
